@use "base/tailwind";
@use "base/fonts";

@use "abstracts/variables";

@use "components/search-overlay";
@use "components/titles";
@use "components/btn-nav";
@use "components/btn-wk";
@use "components/card";
@use "components/product-slider";
@use "components/product-card";
@use "components/hr";
@use "components/pagination";
@use "components/card-servicos";

@use "layout/navbar";
@use "layout/footer";

@use "pages/home/bem-vindo";
@use "pages/home/servicos";
@use "pages/servicossingle/layout";
@use "pages/contato";

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
/* ======================================== */
/* ================scroolbar=================== */
/* ======================================== */
/* width */
::-webkit-scrollbar {
  width: 1vw;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--greenPrimary);
  border-radius: 10px;
  transition: background-color 0.8s;
}
::-webkit-scrollbar-corner {
  border-radius: 10px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  --tw-bg-opacity: 1;
  background-color: rgba(6, 78, 59, var(--tw-bg-opacity));
}
/* ======================================== */
/* ================scroolbar=================== */
/* ======================================== */
html {
  /* this defines what one rem is */
  font-size: 62.5%;
}

/* a:hover {
    color: inherit !important;
    text-decoration: none !important;
  } */

body {
  box-sizing: border-box; /* Padding and Margin are no longer part of the width and height of the element */
  overflow-x: hidden;
  min-height: 100vh;
  background-color: var(--lightPrimary);
}
nav {
  font-family: "poppins";
}
